footer > a > button{
    background-color: #b1f9b3;
    color: black;
}

nav a:hover{
    text-decoration: none;

}

nav a button:hover{
    background-color: #00331a;
}

nav a{
    text-decoration: none;
}

#carrousel-aside > a{
    text-decoration: none;
}

#carrousel-aside > a:link{
    color: black;
}
#carrousel-aside > a:visited{
    color: #477249;
}

button{
    width: 100%;
    height: 100%; 
    
    cursor: pointer;

    display: flex;
    justify-content: center;
    
    background-color: #4c8c4a; 
    
    color: whitesmoke;
    border-radius: 5%;

}