/* estructura general */
body.contacto{

    background-color: #d2f5cf73;
    /* al haber poco contenido dejo de usar grid */
    display: flex;
    flex-direction: column;
  
}
/* contenido principal
estuve jugando con varias ideas pero decidi simplemente por poner un mapa
y la info a la izquierda con una flex, pero luego los ajusto según el width */
.grid-item.contacto{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* ajustado el header
para que no se mueva al pasar de página */
 header.contacto{
    /* height: 115px; */
    padding-bottom: 45px;

} 

/* uso varias medidas porque el mapa resulta demasiado grande
y se sale por los bordes */
/* RESPONSIVE DESIGN */
@media screen and (max-width: 1050px){
    .grid-item.contacto{
        flex-direction: column;
    }

    .perma-banner{
        position: fixed;
        top: 0;
        width: 100%
    }
    header{
        padding-left: 3%;
        padding-right: 3%;

        margin-top: 5%;
        position: relative;
        top: 2.5%;
    }
}

@media screen and (max-width: 620px){
    .perma-banner{
        position: fixed;
        top: 0;
        width: 100%

    }
    header{
        margin-top: 12.5%;
        position: relative;
        top: 2.5%;

        padding-bottom: 0px;
    }
    /* se oculta el mapa si el navegador es demasiado pequeño
    ya que se sale por los bordes */
    #mapa{
        display: none;
    }
}