
img{
    width: 100%;
}

.img-main{
    
    height: 425px;

    border: 1px solid #1b5e20;
    background-color: #80c683;
}

#carrousel-main{
    

    display: grid;
    border: 5px solid #509556;
    grid-template: 
    "a a" 1fr
    "b c" 1fr/1fr 1fr
    ;
}
#img-camp-big{
    grid-area: a;
}
#img-camp-parking{
    grid-area: b;
}
#img-camp-uned{
    grid-area: c;
}