@import "imgs.css";
@import "botones.css";
@import "fonts.css";
@import "contacto.css";

.index{
    
    background-color: #d2f5cf73;

    display: grid;
    

    grid-template: 
    "header header header" 7.5%
    "nav nav nav" 5%
    "main main aside" 1fr
    "footer footer footer" 4.5%
    /2fr 2fr 1fr 
    ;
 
}


header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-content: center;


    background-color:#003300;
    color: white;
}

nav{
    grid-area: nav;
    
    display: flex;
    justify-content: space-around;
    
    

    background-color: #1b5e20;
}


aside{
    grid-area: aside;
    padding: 0.8%;
    padding-top: 0;
    margin-bottom: 5%;
}

#carousel-aside{
    display: flex;
}

main{
    grid-area: main;


    display: flex;
    flex-direction: column;

    
    height: fit-content;
    padding: 1%;
}

#carrousel-main{
    
    display: grid;
    border: 1px solid #509556;
    grid-template: 
    "a a" 1fr
    "b c" 1fr/1fr 1fr
    ;
}


footer{
    
    grid-area: footer;
    width: 100%;

    margin-top: 0.01%;
    /* padding: 1%; */
    

    display: flex;
    align-content: center;
    justify-content: space-evenly;

    background-color: #003300;
    color: white;
}

footer p{
    margin-left: 1%;
    margin-right: 1%;
}
#github-icono{
    margin-top: 1%;
}



nav a{
    flex-grow: 1;
    
}


/* RESPONSIVE DESIGN */
 @media screen and (max-width: 800px){


    .index{
        display: grid;
        grid-template: 
        "nav" 1.5%
        "header" 5%
        "main" 0.5fr
        "aside" 0.9fr
        "footer" 4%
        /1fr 
        ;
     
    }

    header{
        padding-left: 3%;
        padding-right: 3%;
        
    }

    #carrousel-main{
        
        display: flex;
        flex-direction: column;
    }

    .perma-banner{
        position: fixed;
        top: 0;
        width: 100%
    }

    aside{
        background-color: #bdebb873;
    }
  
    #github-icono{
        margin-top: 2%;
        margin-right: 2%;
    }
    

    


} 

